<h1>What Does Food Wastage Mean?</h1>
<p></p>



<div class="autoplay">

    <div>
        <%= image_tag("compost3.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("compost4.jpg", :class => "autoplay") %>
    </div>

    <div>
        <%= image_tag("homeless-man.jpg", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("ugly-veggies1.png", :class => "autoplay") %>
    </div>
    <div>
        <%= image_tag("ugly-veggies2.png", :class => "autoplay") %>
    </div>

    </div>

<br>
<br>
<br>
<div class="row">
    <div class="testing">
<div class="col-4">
Over 40 per cent of food produced is lost in the chain from farmer to final consumer.  We are dedicated to reducing waste and feeding the needy.  Please contact us to donate and contribute to the food recycling community.
</div>

<div class="col-4">
"Food for Thought is one of the most worthwhile charities I have worked with.  Coles is proud to be associated with the distribution of surplus food.  Please do your bit to help this worthwile cause."
John Smith, CEO of Regional Distribution.
</div>
    <div class="col-4">
"We can all contribute to solving the problem of food waste.  Food for Thought is dedicated and provides one of the most useful outlets for the distribution of surplus needs to the homeless and other refuges"
    </div>
    </div>
</div>
<br>
<br>
<br>
<br>
