<h1>Food Donations</h1>
<p>Please Login as a Registered Donor to Donate</p>



<% @donations.each do |item| %>
<div class="case1">
<%= link_to image_tag(item.image), donation_path(item) %>
<br>
<br>
<%= item.donation_name %>
<br>
<br>
<%= item.donation_desc1 %>
<br>
<br>
<%= item.quantity %>
<br>
<br>

<% if @current_user.present? %>
<%= button_to "Donate", food_orders_path, method: "post", class: 'case3', params: {donation_id: item.id} %>
<%end%>
</div>
<%end%>
