<h1>Donation</h1>



<%=@donation.donation_name%>
<br>
<br>
<%= image_tag(@donation.image)%>
<br>
<br>
<%=@donation.donation_desc1%>
<%=@donation.donation_desc2%>
<br>
<br>
<%=@donation.quantity%>

<br>
<br>
<% if @current_user.present?%>
<% if @current_user.admin.to_s == "true"  %>
<!--why is there an error if not logged in  -->
<%= link_to("Edit", edit_donation_path(@donation)) %>
<%= link_to("Delete", donation_path(@donation),method: :delete, data: {confirm: "Are you sure?"}) %>
<%else%>
<%""%>
<%end%>
<%end%>
