<h1>Gift Shop</h1>
<p></p>

<% @products.each do |item| %>
<div class="case1">
  <div class="row">
    <%= link_to image_tag(item.image, :class => "prod1"), product_path(item) %>
  </div>

<div class="row">
<br>
<%= item.product_name %>
<br>
<br>
</div>
<div class="row">
  <div class="case8">


  <%= item.product_desc1 %>
    </div>
</div>

<br>
<%= number_to_currency(item.price) %>
<br>
<br>
<%= button_to "Buy", items_path(:product_id => item.id), class: 'case3' %>

<br>
</div>
<%end%>

<div class="case4">
<%= will_paginate @products %>
</div>
<p>
  <br>
</p>
